<div class="container">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastrar Convite</li>
    </ol>
    <form #conviteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Convite Salvo!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Nome do Evento:</label>
                    <select class="form-select" name="nomeEvento" [(ngModel)]="conviteCadastro.nomeEvento">
                        <option></option>
                        <option *ngFor="let evento of listEvento">{{evento.nomeEvento}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Nome do Cliente:</label>
                    <input type="text" class="form-control" name="nomeCliente" [(ngModel)]="conviteCadastro.nomeCliente">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Nome do Vendedor:</label>
                    <input type="text" class="form-control" name="nomeVendedor" [(ngModel)]="conviteCadastro.nomeVendedor">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Quantidade:</label>
                    <input type="number" class="form-control" name="quantidade" [(ngModel)]="conviteCadastro.quantidade">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Observação:</label>
                    <textarea class="form-control" rows="3" name="observacao" [(ngModel)]="conviteCadastro.observacao"></textarea>
                </div>
            </div>
        </div>

        <div class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="submit" *ngIf="condicaoSalvar() && !idParam"><i class="fa fa-save"></i> Salvar</button>
                <button class="btn btn-outline-success me-2" type="submit" *ngIf="idParam"><i class="fa fa-refresh"></i> Atualizar</button>
            </div>
        </div>
    </form>
</div>