<div class="container">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastrar Evento</li>
    </ol>
    <form #eventoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Evento Salvo!
                </div>
            </div>
        </div>
        <div class="row" *ngIf="evento.id">
            <div class="col">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" class="form-control" name="id"
                        [ngModel]="evento.id" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-5">
                <div class="form-group">
                    <label>Nome do Evento:</label>
                    <input type="text" class="form-control" name="nomeEvento"
                        [(ngModel)]="evento.nomeEvento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-8">
                <div class="form-group">
                    <label>Dados do Evento:</label>
                    <input type="text" class="form-control" name="dados"
                        [(ngModel)]="evento.dados">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group">
                    <label>Total de convites:</label>
                    <input type="number" class="form-control" name="totalConvites"
                        [(ngModel)]="evento.totalConvites">
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="form-group">
                    <label>Valor:</label>
                    <input type="number" class="form-control" name="valor"
                        [(ngModel)]="evento.valorUnitario">
                </div>
            </div>
            <div class="col col-sm-3" *ngIf="evento.status">
                <div class="form-group">
                    <label>Status:</label>
                    <input type="number" class="form-control" name="status"
                        [(ngModel)]="evento.status">
                </div>
            </div>
        </div>

        <div class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="submit" *ngIf="condicaoSalvar()"><i class="fa fa-save"></i> Salvar</button>
                <button class="btn btn-outline-success me-2" type="submit" *ngIf="idParam"><i class="fa fa-refresh"></i> Atualizar</button>
            </div>
        </div>
    </form>
</div>
