<div class="container">
  <ol class="breadcrumb mb-4">
    <h3 class="breadcrumb-item active">Recebimento</h3>
  </ol>
  <form action [formGroup]="formularioRecebimento" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="alert alert-success" role="alert" *ngIf="success==true">
          Pagamento Salvo!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="pago"
          name="pago" id="true" [value]="true">
        <label class="form-check-label" for="flexRadioDefault1">Pago</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="pago"
          name="pago" id="false" [value]="false" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Não Pago
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Observação:</label>
          <textarea class="form-control" rows="3" class="form-control"
            formControlName="observacao"
            name="observacao" [value]="conviteEdit.observacao"></textarea>
        </div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="row">
        <div class="col" style="padding-bottom: 3px">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-refresh" aria-hidden="true"></i> Atualizar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
