body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

card{
    align-self: center;
    border: solid;
}

h5{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: #125723;
    
}

label{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    text-align: center;
    font-style: italic;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link{
    text-align: right;
}

.card-title{
    text-decoration: underline;
}