<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <input type="text" class="form-control" placeholder="Login"
            formControlName="login" name="login" [value]="usuario.login" required="true">
          <input type="password" class="form-control" placeholder="Senha"
            formControlName="password" name="password" [value]="usuario.password" required="true">
          <button type="submit" class="btn btn-primary" [disabled]="!formLogin.value.login || !formLogin.value.password">Entrar</button>
      </form>
      <a href="#" class="forgot-password">
        Cadastrar
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->
