<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" #LoginForm="ngForm" (ngSubmit)="onSubmit()">
          <input type="text" class="form-control" placeholder="Login"
          [(ngModel)]="usuario.login" name="login"required="true">
          <input type="password" class="form-control" placeholder="Senha"
           name="password" [(ngModel)]="usuario.password" required="true">
          <button type="submit" class="btn btn-primary" [disabled]="!usuario.login || !usuario.password">Entrar</button>
      </form>
      <a href="#" class="forgot-password">
        Cadastrar
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->
